# See http://help.github.com/ignore-files/ for more about ignoring files.

# MAVEN BUILD
/target/**
/target/

.project
.classpath

/.settings/
/.settings/** */

# LOGS 
/logs/**
/logs/

# INTELLIJ
/.idea/**
/.idea/
