<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<RollingFile name="rollingFile" fileName="logs/server.log" filePattern="logs/server-%d{yyyy-MM-dd}-%i.log.gz">
			<PatternLayout>
				<pattern>%d{MMM dd HH:mm:ss,SSS} [%t] %-5p %c - %m%n</pattern>
			</PatternLayout>
			<Policies>
				<SizeBasedTriggeringPolicy size="500 MB" />
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
			</Policies>
		</RollingFile>

		<Console name="Console">
			<PatternLayout pattern="%d{MMM dd HH:mm:ss,SSS} [%t] %-5p %c - %m%n" />
		</Console>
	</Appenders>
	<Loggers>
		<logger name="com.shiyatsu" additivity="false" level="info">
            <appender-ref ref="rollingFile" />
            <appender-ref ref="Console" />
        </logger>
		<root level="info">
			<AppenderRef ref="Console" />
			<AppenderRef ref="rollingFile" />
		</root>
	</Loggers>
</Configuration>